/**
* ####################
* SITE STYLE TEMPLATE
* ####################
* 
* /#/ LOCATIONS 
* 
* /!/ Global Settings: 25
* 
* # > Variables: 27
* # > Default: 30
* # > Header: 60
* # > Main: 86
* # > Footer: 93
* 
* ####################
*
* /!/ Resolution: 133
*
* # > Tablet: 135
* # > Computer: 202
*
**/

/* /!/ GLOBAL SETTINGS /!/ */

/* < VARIABLES > */
:root {}

/* < DEFAULT > */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrap {
    width: 96%;
    margin: 0 auto;
}

a {
    transition: all ease-in 0.7s;
}

a:hover {
    color: blue;
    transition: all ease-in-out 0.3s;
}

/* < HEADER > */
header nav {
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}

header nav ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

header nav ul li {
    padding: 0 20px;
    line-height: 60px;
    font-size: 20px;
}

header nav ul li h3 {
    font-size: 22px;
}

/* < MAIN > */

main {
    flex: 1;
    font-size: 18px;
}

/* < FOOTER > */
footer {
    width: 100%;
    padding: 25px 0;
    display: flex;
    background-color: black;
    color: white;
}

footer .section-1 ul {
    padding-left: 50px;
}

footer .section-2 ul {
    margin-left: 160px;
}

footer section ul li {
    padding: 3px 0;
    font-size: 16px;
}

footer section ul li h3 {
    padding-bottom: 5px;
    font-size: 22px;

}

/* /!/ RESOLUTION /!/ */

/* < TABLET > */
@media only screen and (min-width: 768px) {

    /* < HEADER > */
    header nav {
        margin-bottom: 30px;
        border-bottom: none;
    }

    header nav ul li {
        font-size: 25px;
    }

    header nav ul li h3 {
        font-size: 30px;
    }

    /* < MAIN > */
    main {
        font-size: 20px;
    }

    body {
        background-color: #f2f2f2;
    }

    .page-wrap {
        background-color: white;
        padding: 10px;
        border-radius: 3px;
    }

    /* < FOOTER > (desktop & tablet resolution) */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "section-1 ";
        background-color: black;
        color: white;
    }

    footer .section-1 ul {
        padding-left: 70px;
    }

    footer .section-2 ul {
        display: inline-flex;
        float: right;
        margin-right: 70px;
    }

    footer section ul li {
        font-size: 20px;
    }

    footer section ul li h3 {
        padding-bottom: 10px;
        font-size: 25px;
    }

    footer .section-2 ul li {
        padding: 0 18px;
    }
}

/* < COMPUTER > */
@media only screen and (min-width: 1000px) {

    /* < HEADER > */
    header nav ul li {
        font-size: 18px;
    }

    header nav ul li h3 {
        font-size: 20px;
    }

    /* < MAIN > */
    main {
        font-size: 16px;
    }

    .page-wrap {
        width: 1000px;
    }

    /* < FOOTER > */
    footer section ul li {
        font-size: 16px;
    }

    footer section ul li h3 {
        font-size: 22px;
    }
}